nav {
	position: fixed;
	margin: 0;
  	padding: 0;
 	width: 200px;
 	height: 100%;
 	background-color: rgb(255, 204, 255);
}

nav a {
	display: block;
 	color: black;
 	padding: 8px 16px;
 	text-decoration: none;
 	text-align: center;
 	border: #ff33ff outset;
 	font-size: 24px;
 	margin-top: 20px;
 	font-weight: bold;
}

/* Change the link color on hover */
nav a:hover {
	background-color: rgb(255, 153, 255);
	color: black;
}

nav a.active {
    background-color: rgb(255, 153, 255);
    color: black;
}

/* Get rid of the space between the navigation bar and the sides of the page */
body {
    margin:0;
    background-color: #ffe6ff;
}

#main_title {
	display: block;
	position: fixed; /* Makes the block follow you as you scroll */
	width: 99.5%;
	text-align: center;
	margin: 0;
	background-color: rgb(255, 179, 255);
	border: rgb(230, 0, 230) dashed;
	z-index: 1;
	font-family: Verdana, Arial;
}

/* Aligns title to the center vertically and horizontally */
header {
	height: 75px;
	line-height: 75px;
	text-align: center;
}

/* Moves all the content into the available area */
.main_content {
	margin-left: 220px;
	margin-top: -5px;
}

.paragraph_size {
	font-size: 21px;
}

.copy_right { /* Used to align the writing better with the image */
	font-size: 15px;
	margin-left: 20px;
}

footer {
	display: block;
	padding: 1px;
	margin: 0;
	background-color: rgb(255, 179, 255);
	margin-left: -20px;
	padding-left: 13px;
}

.footer_title { /* Separates footer from content */
	margin-top: 50px;
}

#source_1 {
	padding-bottom: 16px;
}
.subjects {
	font-size: 23px;
}

h2 {
	font-family: "Lucida Console", Arial;
}

footer h2 { /* Selects footers with h2 */
	font-size: 16;
}